<launch>
    <arg name="ns0" value="jackal0"/>
    <arg name="ns1" value="jackal1"/>
    <arg name="ns2" value="jackal2"/>

    <arg name="config" default="$(find mobile_robot_state_publisher)"/>

    <!--Publish the mobile robot pose -->
    <node name="mobile_robot_state_publisher" pkg="mobile_robot_state_publisher" type="mobile_robot_state_publisher_node" respawn="false" output="screen" ns="$(arg ns0)">
            <rosparam command="load" file="$(arg config)/config/jackal.yaml" />
            <param name="base_frame" value="$(arg ns0)/base_link"/>
            <remap from="odometry/filtered" to="odometry/local_filtered"/>
    </node>

    <node name="mobile_robot_state_publisher" pkg="mobile_robot_state_publisher" type="mobile_robot_state_publisher_node" respawn="false" output="screen" ns="$(arg ns1)">
            <rosparam command="load" file="$(arg config)/config/jackal.yaml" />
            <param name="base_frame" value="$(arg ns1)/base_link"/>
            <remap from="odometry/filtered" to="odometry/local_filtered"/>
    </node>

    <node name="mobile_robot_state_publisher" pkg="mobile_robot_state_publisher" type="mobile_robot_state_publisher_node" respawn="false" output="screen" ns="$(arg ns2)">
            <rosparam command="load" file="$(arg config)/config/jackal.yaml" />
            <param name="base_frame" value="$(arg ns2)/base_link"/>
            <remap from="odometry/filtered" to="odometry/local_filtered"/>
    </node>

</launch>